<!DOCTYPE html>
<html>
<head>
    <title>Model Details</title>
    <link rel="stylesheet" type="text/css" href="/model.css">
</head>
<body>
    <div class="model-container">
        <h1>Model Details for <%= model.modelNo %></h1>
        <table class="details-table">
            <tr>
                <th>Width</th>
                <td><%= model.width %></td>
            </tr>
            <tr>
                <th>Height</th>
                <td><%= model.height %></td>
            </tr>
            <tr>
                <th>Weight</th>
                <td><%= model.weight %></td>
            </tr>
            <tr>
                <th>Depth</th>
                <td><%= model.depth %></td>
            </tr>
            <tr>
                <th>Screen Size</th>
                <td><%= model.screenSize %></td>
            </tr>
        </table>
        <div class="center">
            <a href="/display" class="back-button">Back to Digital Displays</a>
        </div>
    </div>
</body>
</html>